<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/dustins-partials :: head ('Login')" />
<body class="main">
<nav th:replace="partials/dustins-partials :: navbar" />
<header></header>
<main class="container">
    <div class="card offwhite-body">
        <div class="card-content">
            <h3 class="card-title">Log In</h3>
            <div th:if="${param.error}">
                Invalid Username and Password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <form action="" th:action="@{/login}" method="post">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" name="username" type="text" class="validate" />
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" class="validate" />
                        <label for="password">Password</label>
                    </div>
                </div>
                <button type="submit" value="Log In" class="waves-effect waves-purple btn-small indigo accent-3">Log In</button>
            </form>
        </div>
    </div>
</main>
<footer th:replace="partials/dustins-partials :: footer" />
<script th:replace="partials/dustins-partials :: m-script" />
<script th:replace="partials/dustins-partials :: j-query" />
</body>
</html>
