<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/dustins-partials :: head ('Edit Post')" />
<body class="main">
<nav th:replace="partials/dustins-partials :: navbar" />
<header></header>
<main class="container">
    <div class="card offwhite-body">
        <div class="card-content">
            <form id="register-form" action="" th:action="@{/register}" method="post" th:object="${user}">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" name="username" type="text" class="validate" th:field="*{username}"/>
                        <label for="username">Username</label>
                        <span class="helper-text" data-success="Great"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" name="email" type="email" class="validate" th:field="*{email}" />
                        <label for="email">Email</label>
                        <span class="helper-text" data-error="Please enter a valid e-mail address" data-success="Excellent"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" th:field="*{password}" class="validate" />
                        <label for="password">Password</label>
                        <span class="helper-text" data-error="Your passwords don't match!" data-success="Wonderful"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password-confirm" name="password-confirm" type="password" class="validate" />
                        <label for="password-confirm">Confirm Password</label>
                        <span class="helper-text" data-error="Your passwords don't match!" data-success="Fantastic"></span>
                    </div>
                </div>
                <button type="submit" id="submit" value="submit" class="waves-effect waves-purple btn-small indigo accent-3" onClick="empty()">Submit</button>
            </form>
        </div>
    </div>
</main>
<footer th:replace="partials/dustins-partials :: footer" />
<script th:replace="partials/dustins-partials :: m-script" />
<script th:replace="partials/dustins-partials :: j-query" />
<script>
    $('#register-form').submit(function() {
        if ($.trim($("#email").val()) === "" || $.trim($("#username").val()) === "" || $.trim($("#password").val()) === "" || $.trim($("#password-confirm").val()) === "" || $.trim($("#password-confirm").val()) !== $.trim($("#password").val())) {
            return false;
        }
    });

    $("#password").on("focusout", function (e) {
        if ($(this).val() != $("#password-confirm").val()) {
            $("#password-confirm").removeClass("valid").addClass("invalid");
        } else {
            $("#passwor-confirm").removeClass("invalid").addClass("valid");
        }
    });

    $("#password-confirm").on("keyup", function (e) {
        if ($("#password").val() != $(this).val()) {
            $(this).removeClass("valid").addClass("invalid");
        } else {
            $(this).removeClass("invalid").addClass("valid");
        }
    });

    $("#password-confirm").on("focusout", function (e) {
        if ($(this).val() != $("#password").val()) {
            $("#password").removeClass("valid").addClass("invalid");
        } else {
            $("#password").removeClass("invalid").addClass("valid");
        }
    });

    $("#password").on("keyup", function (e) {
        if ($("#password-confirm").val() != $(this).val()) {
            $(this).removeClass("valid").addClass("invalid");
        } else {
            $(this).removeClass("invalid").addClass("valid");
        }
    });
</script>
</body>
</html>